*, *:before, *:after {
	box-sizing: border-box;
}
body{
	overflow-y:visible;
}
.cardwrapper {
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
	_align-items:center;
	
padding:.5em;
}
.card {
	position: relative;
	margin: 10px 1%;
	width:31%;
	max-width: 280px;
	max-height: 280px;
	min-width: 260px;
	min-height: 260px;
	background: #222;
	overflow: hidden;
		 

}
.card .imgBx, .card .details {
	width: 100%;
	height: 100%;
	position: absolute;
		  border-radius: 10px;

}

.card .imgBx {
	top: 0;
	left: 0;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding: .5em;
	transition: left .5s;
	  will-change: left;

}

.card:nth-of-type(1) .imgBx {
	background-image: url(/img/istockphoto-1317285618-170667a.jpg);
}

.card:nth-of-type(2) .imgBx {
	background-image: url(/img/istockphoto-1317285618-170667a.jpg);
}

.card:nth-of-type(3) .imgBx {
	background-image: url(/img/istockphoto-1317285618-170667a.jpg);
}

.card:hover .imgBx {
	top: 0;
	left: -100%;
}

.card .imgBx img {
	width: 100%;
}

.card .imgBx nav {
  position: relative;
  background: rgba(0, 0, 0, .35);
  width: 34px;
  height: 34px;
  color: white;
	border: 1px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 16px 1px rgba(255, 255, 255, .75);
  margin: 0px;
	float:right;
}
.card .imgBx nav:after {
  content: '•••';
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%) rotate(90deg);
  font-size: 15px; 
  letter-spacing: 2px;
  margin-top: 1px;
}
/*shows only om touch devices*/
.card .details nav {
	display:none;
  position: absolute;
	right: 10px;
	bottom:10px;
  background: rgba(0, 0, 0, .35);
  width: 34px;
  height: 34px;
  color: white;
	border: 1px solid white;
  border-radius: 50%;
}
.card .details nav:after {
  content: 'X';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px; 
  margin-top: 0;
}

.card .details {
		color: #fff;
	background: #222;
	top: 0;
	left: 100%;
	padding: 0;
	transition: left .5s;
	  will-change: left;
}
.card:hover .details {
	top: 0;
	left: 0%;
}

.card .detailsBGtouch {
	background: #444;
}

.card .details h2 {
	text-align: center;
	margin: 0;
	padding: 10px;
	border-bottom: 2px solid #fff;
}

.card .details p {
	margin: 0;
padding: 1em;
}

.card .details p a {
	color: #fffccc;
}

.card .details span {
	color: #999;
	display:block;
line-height:2em;
	text-align: center;
	letter-spacing: 10px;
}

.card .details ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.card .details li a {
	display:block;
	color: #fff;
	text-decoration: none;
	padding: 5px 1em;
		background:#444;
	border-top: 1px solid #666;
		border-bottom: 1px solid #000;
font-size:90%;
	line-height:1;
}
.card .details li a:hover {
	background:#333;
}

.logtxt{opacity:0;
position:absolute;
	width:100%;
	height:40px;
	z-index:2;
	background:rgba(0,0,0,.5);
	margin:0;
}